@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

#canvasCorte {
    image-rendering: pixelated; /* Mantiene las líneas de corte nítidas */
}

/* Animación simple para los artículos */
article {
    transition: transform 0.3s ease;
}

article:hover {
    transform: translateY(-5px);
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 10px;
}